
@{
    ViewBag.Title = "Create";
}
@using FluentBootstrap;

<h2>Create new Location</h2>

@using (var form = Html.Bootstrap().Form().Begin())
{
    @form.Input("Name", "Enter Location Name")
    @form.Input("City", "Enter name of the city.")
    @form.Input("Country", "Enter name of the country.")
    @form.Input("Latitude", "Enter latitude.")
    @form.Input("Longitude", "Enter longitude.")
    @form.Submit()
}