<!DOCTYPE html>
@using FluentBootstrap;
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Magellan Travels</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Magellan Travels", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <ul class="nav navbar-nav col-lg-offset-2">

                <li> <a href="/Home/Index"> Home </a></li>
                <li> <a href="/Home/About"> About Us </a></li>
                <li> <a href="/Home/Gallery"> Past Expriences </a></li>
                <li> <a href="/Home/Package"> Our Packages </a></li>
                <li> <a href="/Home/Contact"> Contact Us </a></li>      

            </ul>            @Html.Partial("_LoginPartial")
        </div>
    </div>
    <!--   <div class="navbar navbar-inverse navbar-static-top"> -->


    <div class="container body-content">
        
        @RenderBody()
        <hr />
        <footer>
            <p class="text-center">&copy; @DateTime.Now.Year - Magellan Travels All Rights Reserved.</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
