@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

@using FluentBootstrap;

<address>
    IBA Main Campus<br />
    Karachi Pakistan<br />
    <abbr title="Phone">Phone:</abbr>
    03323733546, 03343377619
</address>

<address>
    <strong>For Queries:</strong> <a href="mailto:magellantravels@example.com">magellantravels@example.com</a>
</address>

@using (var form = Html.Bootstrap().Form().Begin())
{
    <h4>Feedback</h4>
    @form.Input("FeedbackName", "Name: ")
    @form.Input("FeedbackEmail", "Email: ")
    @form.TextArea("FeedbackDesc", "Feedback:", rows: 5)

    @form.Submit()
}

<script src='https://maps.googleapis.com/maps/api/js?v=3.exp'></script><div style='overflow:hidden;height:440px;width:700px;'><div id='gmap_canvas' style='height:440px;width:700px;'></div><div><small><a href="http://embedgooglemaps.com">embed google maps</a></small></div><div><small><a href="https://ultimatewebtraffic.com/">buy targeted traffic</a></small></div>
<style>
    #gmap_canvas img {
        max-width: none !important;
        background: none !important
    }
</style></div>
<script type='text/javascript'>function init_map() { var myOptions = { zoom: 10, center: new google.maps.LatLng(24.9413316, 67.11385500000006), mapTypeId: google.maps.MapTypeId.ROADMAP }; map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions); marker = new google.maps.Marker({ map: map, position: new google.maps.LatLng(24.9413316, 67.11385500000006) }); infowindow = new google.maps.InfoWindow({ content: '<strong>Magellan Travels</strong><br>IBA Main Campus, Karachi, Pakistan<br>' }); google.maps.event.addListener(marker, 'click', function () { infowindow.open(map, marker); }); infowindow.open(map, marker); } google.maps.event.addDomListener(window, 'load', init_map);</script>