@{
    ViewBag.Title = "Contact";
}

@using Jmelosegui.Mvc.GoogleMap


<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

@using FluentBootstrap;

<address>
    IBA Main Campus<br />
    Karachi Pakistan<br />
    <abbr title="Phone">Phone:</abbr>
    03323733546, 03343377619
</address>

<address>
    <strong>For Queries:</strong> <a href="mailto:magellantravels@example.com">magellantravels@example.com</a>

</address>

<div class="row">
    <div class="col-md-5">
        @Html.ValidationSummary()
        @using (var form = Html.Bootstrap().Form().Begin())
        {
            <h4>Feedback</h4>
            @form.Input("FeedbackName", "Name: ")
            @form.Input("FeedbackEmail", "Email: ")
            @form.TextArea("FeedbackDesc", "Feedback:", rows: 5)

            @form.Submit()
        }


    </div>

    <div class="col-md-5">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3617.7280823223396!2d67.11166631447415!3d24.94133158401584!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3eb338bcd01921f5%3A0x5fd98736c5530784!2sInstitute+of+Business+Administration+Karachi+Main+Campus!5e0!3m2!1sen!2s!4v1493376892371" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</div>


    
